.destination-img-tokyo {
  background-image: url(../img/tokyo-mobile.jpg);
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
}

.destination-img-osaka {
  background-image: url(../img/osaka-mobile.jpg);
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
}

.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.text-destination {
  font-weight: var(--text-weight);
  font-size: 19px;
  font-family: "Montserrat";
  text-align: left;
  line-height: 1.6;
  padding: 24px;
}

.title-destination {
  font-weight: var(--title-weight);
  font-size: 26px;
  text-align: center;
  margin: 24px;
}

.button-destination {
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .destination-img-tokyo {
    background-image: url(../img/tokyo-tablet-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .destination-img-osaka {
    background-image: url(../img/osaka-tablet-deskop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .destination-items {
    display: flex;
    width: 100%;
    max-width: 1400px;
    gap: 40px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .item {
    flex: 1;
    min-width: 0;
  }

  .container-destination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .destination-item{
    flex: 1;
    max-width: 588px;
    margin-bottom: 55px;
  }

  .destination-img-tokyo {
    background-image: url(../img/tokyo-destination-desktop.jpg);
    background-size: contain;
    width: 450px;
    height: 352px;
    border-radius: 10px;
  }

  .destination-img-osaka {
    background-image: url(../img/osaka-destination-desktop.jpg);
    background-size: contain;
    width: 450px;
    height: 352px;
    border-radius: 10px;
  }

  .title-destination {
    text-align: left;
    margin: 12px 0 8px 0;
  }

  .text-destination {
    padding: 0;
    font-size: 16px;
    margin-bottom: 40px;
  }

  .button-destination {
    margin-top: 16px;
    padding: 5px;
  }
}
