.package-hero-img{
    height: 460px;
    width: 100%;
    background-image: url(../img/fuji-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
}

.package-text-hero{
    color: var(--text-secondary-color);
    font-size: 18px;
    text-align: left;
    line-height: 1.6;
    padding: 25px;
}

.package-title-hero{
    color: var(--text-secondary-color);
    font-size: 42px;
    margin-left: 30px;
}

@media screen and (min-width: 768px){
    .package-hero-img{
        background-image: url(../img/package-hero-tablet.jpg);
        padding: 60px;
    }
    .package-text-hero{
        font-size: 30px;
    }
    
}